IqdbApi/obj/
IqdbApi.Test/obj/
IqdbApi.Test/bin/
IqdbApi/bin/
/IqdbApi.xTests/bin
IqdbApi.xTests/obj/
.vs/
.vs/IqdbApi/v15/.suo
.idea/
/IqdbApi.sln.DotSettings.user
/IqdbApi/Properties/PublishProfiles/*.user
/IqdbApi/*.user
IqdbManualTests/obj/
IqdbManualTests/bin/
